  <div class="panel-heading">
    <h3 class="panel-title" id="scene_title">{{ scene_title }}
    </h3>
  </div>
  <div class="panel-body" id="sc_date_content" >
    {{#if timeframe.tf_start }}
       
      <span class="label label-success" id="sc_dt_start">{{formatDate timeframe.tf_start day="numeric" month="short" year="numeric" hour="numeric" minute="numeric"}}
      </span>
      <span class="label label-danger" id="sc_dt_end">{{formatDate timeframe.tf_end day="numeric" month="short" year="numeric" hour="numeric" minute="numeric"}}
      </span>

    {{else}}
       <div class='input-group date'
        id='sc_datetimepicker'
        >
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
   
   {{/if}}
  </div>
  <ul class="list-group">
    <li class="list-group-item" >
      <span class="badge">{{ character_count }}</span>
    Characters 
  </ul>    
  <ul class="list-group">
    <li class="list-group-item" id="scene_content">
      {{{ description }}}
  </ul>    