  <div class="panel-heading">
    <h3 class="panel-title" id="scene_title">{{ scene_title }}
    </h3>
  </div>
  <div class="panel-body" id="sc_date_content" >
    {{#if timeframe.tf_start }}
       
      <span class="label label-success" id="sc_dt_start">{{ timeframe.tf_start }}
      </span>
      <span class="label label-danger" id="sc_dt_end">{{ timeframe.tf_end }}
      </span>

    {{else}}
       <div class='input-group date'
        id='sc_datetimepicker'
        >
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
   
   {{/if}}
  </div>
  <ul class="list-group">
    <li class="list-group-item"
      id="sc_pl_ch_cnt"
      data-url="{{ characters.url }}"
      <span class="badge">{{ characters.count }}</span>
      Characters
    </li>
  </ul>    
  <ul class="list-group">
    <li class="list-group-item" id="scene_content">
      <details>
      <summary>Show scene text</summary>
      {{{ description }}}
      </detail>
  </ul>    