{{#if previous }}
  <li class="previous" ">
    <a id="sw_sc_prev"
      class="sw_sc_pg_ctrl"
      data-url="{{ previous }}"
      >
    
    {{else}}
    <li class="disabled">
      <a >
{{/if}}
      <span aria-hidden="true">&laquo;</span></a>
    </li>

    {{#each links }}
      
      <li>
        <a data-url="{{ this.url }}"
          class="sw_sc_pg_ctrl"
          >
          {{ this.page }}
        </a>
      </li>

    {{/each}}
    
{{#if next }}
  <li class="next"
     >
     <a id="sw_sc_next"
       data-url="{{ next }}"
       class="sw_sc_pg_ctrl">
    
   
    {{else}}
    <li class="disabled">
      <a id="sw_sc_next">
{{/if}}
     
            <span aria-hidden="true">&raquo;</span></a>
  </li>

